BPI Challenge 2020_ International Declarations_1_all.zip        
BPI Challenge 2020_ Prepaid Travel Costs_1_all.zip              
BPI Challenge 2020_ Request For Payment_1_all.zip               
BPI Challenge 2020_ Travel Permit Data_1_all.zip                
function_based/BPI Challenge 2020_ Domestic Declarations_1_all.zip                                                
investigator.py
__pycache__/
venv/
.DS_Store
main.py
state.py
tools.py
utils.py